/* body {
    background-image: url(/images/bg1-rutn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.content-page {
    /* min-height: 85vh; */
    height: auto;
    margin-left: 268px;
    margin-top: 100px;
}

.content-page .content {
    min-height: 60vh;
    height: auto;
    /* padding-bottom: 80px; */
}

.left-side-menu-rutn {
    width: 268px;
    bottom: 0;
    padding: 0px 0 20px 0;
    position: fixed;
    transition: all .2s ease-out;
    top: 0px;
    /* background: linear-gradient(136.07deg, #FCFCFC -35.24%, rgba(252, 252, 252, 0.22) 165.05%); */
    background-color: #51CCBB;
    background-image: url('/image/bg-rtn.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    z-index: 1090;
    /* nuevo */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.navbar-custom-rutn {
    /* background-color: #ffffff59; */
    background-color: transparent;
    box-shadow: none;
    padding: 0 10px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1001;
    margin-left: 268px;
    margin-top: -100px;
}

.logo-box {
    float: inherit;
    height: 100px;
    width: 100%;
}

.logo-box .logo {
    line-height: 100px;
}

.option-user-admin {
    display: flex;
    justify-content: flex-end;
}

.option-user-admin .btn-menu-profile-admin {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-end;
}

.option-user-admin figure {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 5px 0 0;
}

.option-user-admin figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.option-user-admin .btn-menu-profile-admin {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray);
}

.left-side-menu-rutn .btn-cloce-left-bar {
    background-color: var(--color-contrast);
    border: 1px solid var(--color-gray-0);
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 16%);
    -webkit-box-shadow: 0px 10px 40px rgb(0 0 0 / 16%);
    -o-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    position: absolute;
    top: 12px;
    right: 4px;
    height: 46px;
    width: 46px;
    line-height: inherit;
    color: var(--color-gray-0);
    text-align: center;
    margin-top: auto;
    display: none;
    align-items: center;
    justify-content: center;
}

.btn-cloce-left-bar i {
    font-size: 26px;
    line-height: 44px;
    padding: 0 5px;
    color: var(--color-gray-0);
}

.btn-menu-mobile-rutn {
    background: rgb(236 236 236 / 45%);
    border: 1px solid var(--color-gray-0);
    box-sizing: border-box;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 16%);
    -webkit-box-shadow: 0px 10px 40px rgb(0 0 0 / 16%);
    -o-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
    border-radius: 100px;
    display: none;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
}

.btn-menu-mobile-rutn i {
    font-size: 1.5rem;
}

#sidebar-menu>ul>li>a h5 {
    color: var(--white);
    text-transform: uppercase;
}

#sidebar-menu>ul>li>a {
    color: var(--white);
    padding: 7px 20px;
    position: relative;
    transition: all 0.4s;
    font-family: var(--font-family-Brandon-Grotesque);
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 100px;
    /* margin: auto 10px 3px 10px; */
    margin-bottom: 3px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}


/* #sidebar-menu>ul>li>a.active,
#sidebar-menu>ul>li>a:hover {
    background: rgba(222, 98, 45, 0.2);
} */

#sidebar-menu>ul>li>a i {
    margin: 0 18px 0 4px;
    /* width: auto; */
    font-size: 30px;
    /* color: var(--color-contrast); */
}

.nav-second-level a {
    font-weight: 700;
}

.nav-second-level a:hover {
    color: #8CECDF !important;
}

.nav-second-level li a:focus,
.nav-second-level li a:hover {
    color: #8CECDF !important;
}


/* #sidebar-menu .menuitem-active>a {
    color: var(--color-contrast) !important;
} */

#sidebar-menu .menuitem-active>.option-firts-menu h5,
#sidebar-menu .option-firts-menu:hover h5 {
    color: #8CECDF;
}

.option-cloce-session a {
    text-align: center;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
}

.option-cloce-session {
    border-top: 1px solid #e5e8eb;
}

.h-80 {
    height: 80% !important;
}

.scrollbar-simplebar {
    height: calc(88% - 70px) !important;
}

.dashboard-items-estadisticas {
    max-width: 320px;
    margin: 10px 5px;
}

.dashboard-icon {
    width: 96px;
    height: 96px;
    background: #76C0EC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}

.dashboard-icon i {
    font-size: 50px;
    color: #162340;
}

.card-box-rutn {
    padding: 20px 12px !important;
    position: relative;
    z-index: 0;
}

.z-index-999 {
    z-index: 999 !important;
}

.dropdown-menu-alpine {
    display: block;
    top: auto;
    background: #FCFCFC;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.7rem 0.3rem;
}

.share-my-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.options-edit-profile {
    margin-top: 1rem;
}

.options-edit-profile .nav-tabs>li>a,
.options-edit-profile .nav-pills>li>a {
    color: rgba(78, 75, 102, 0.5);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 0.5rem 0;
}

.options-edit-profile .nav-tabs {
    border-bottom: none;
}

.options-edit-profile .nav-justified .nav-item {
    text-align: left;
}

.options-edit-profile .nav-tabs .nav-link.active,
.options-edit-profile .nav-tabs .nav-item.show .nav-link {
    color: var(--color-contrast);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-contrast);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.options-edit-profile .nav-tabs .nav-link:hover,
.options-edit-profile .nav-tabs .nav-link:focus {
    color: var(--color-contrast);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-contrast);
}

.offer {
    position: relative;
    /* margin-bottom: 4rem; */
}

.offer p {
    color: var(--color-gray-80);
}

.offer button {
    position: absolute;
    top: 31px;
    right: -35px;
}

.card-edit-services {
    display: block;
    padding: 20px 15px 20px 15px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
    position: relative;
    min-height: 190px;
}

.card-edit-services p {
    font-size: 17px;
    color: var(--color-gray);
}

.card-edit-services a {
    display: block;
    padding: 0.375rem 1.2rem;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
    position: initial;
    min-height: auto;
}

.copy-share-profile.show {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
}

.btn-show-password {
    top: 47px;
    right: 18px;
    position: absolute;
    box-shadow: none;
    border: none;
    background: transparent;
    font-size: 24px;
}

.services-rutn .card-service-rutn {
    background: linear-gradient( 136.07deg, #fcfcfc -35.24%, rgba(252, 252, 252, 0.22) 165.05%);
    box-shadow: 0px 6px 13px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.card-edit-services {
    display: block;
    padding: 20px 15px 20px 15px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
    position: relative;
    min-height: 190px;
}

.navbar-rutan-admin {
    height: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    /* width: 100%; */
    background-color: #fff;
    justify-content: flex-end;
    margin-left: 268px;
    /* margin-top: -100px; */
}

.content-page {
    margin-top: 0px !important;
}

.menu-arrow {
    font-size: 1.7rem;
}

.nav-second-level li a {
    padding: 8px 20px;
    color: #fff;
    display: block;
    position: relative;
    transition: all 0.4s;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.form-label {
    font-size: 16px;
    font-weight: 700;
    color: #3E3E3E;
}

.form-control-alt {
    border: none;
    border-bottom: 1px solid #C0C0C0;
    padding: 0;
    padding-bottom: 0.45rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.form-control-alt:focus {
    color: #3E3E3E;
}

.table-rn thead th {
    font-family: var(--font-family-Brandon-Grotesque);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #3E3E3E;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom: none;
}

.table-rn td {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 1;
    color: #3E3E3E;
}

#sidebar-menu .menuitem-active .active {
    color: #8CECDF;
}

#sidebar-menu .menuitem-active>a {
    color: #ffffff;
}

.tap-opportunities {
    color: #C0C0C0;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: var(--font-family-Brandon-Grotesque);
    padding: 10px 20px;
    display: inline-flex;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.tap-opportunities:hover {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    cursor: pointer;
}

.tap-opportunities.active {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    border-radius: 4px;
    color: #2DB2A0;
}

.status-open i {
    color: #FDC300;
    margin-right: 2px;
}

.status-close i {
    color: #ccc;
    margin-right: 2px;
}

.selectize-control.multi .selectize-input>div.active {
    background-color: #cbe6e2 !important;
    color: #2db2a0 !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    font-size: 20px;
    color: red;
    top: auto;
}

.add-emails input.form-control {
    visibility: hidden
}

.hero-deleted i {
    color: #F16F4C;
    font-size: 20px;
    height: 34px;
    width: 34px;
    background-color: #FCD3C8;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.resource-hero .hero-deleted {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #3e3e3e6b;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.resource-hero:hover .hero-deleted {
    display: flex;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.resource-hero {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    overflow: hidden;
    height: 138px;
    width: 233px;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.resource-hero img {
    width: 100%;
}

.hero-home-width-mobile {
    width: 71px;
}

.note-modal-footer {
    height: auto;
    text-align: right;
}

.note-modal-footer .note-btn {
    float: none;
    text-transform: uppercase;
}

.note-modal-title {
    text-transform: uppercase;
    font-size: 28px;
    color: #2db2a0;
    line-height: 33px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.note-modal-content {
    box-shadow: initial;
}

.note-modal-header {
    border: none
}

.note-modal-header .close {
    color: #2db2a0;
    opacity: 1;
}

.sn-checkbox-open-in-new-window,
.sn-checkbox-use-protocol {
    visibility: hidden;
}

.note-btn {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #2db2a0;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 17px;
}

.note-toolbar {
    padding: 10px 5px;
    color: #2db2a0;
    background-color: transparent;
    border-bottom: 1px solid;
    border-color: #ddd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.note-btn.active,
.note-btn.focus,
.note-btn:active,
.note-btn:focus,
.note-btn:hover {
    color: #278a7c;
    text-decoration: none;
    border: 1px solid #dae0e5;
    background-color: #ebebeb;
    outline: 0;
    border-radius: 1px;
}

a.note-dropdown-item,
a.note-dropdown-item:hover {
    color: #278a7c;
}

.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette .note-palette-title,
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-palette-title {
    font-size: 14px;
}

.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset {
    font-size: 12px;
    text-transform: uppercase;
}

.note-editor .note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-select {
    font-size: 12px;
    text-transform: uppercase;
}

.note-editor.note-frame .note-statusbar {
    background-color: transparent;
}

.note-group-select-from-files {
    display: none;
}

.card-border-news {
    border-bottom: 6px solid #2db2a0;
}

.card-news-h {
    min-height: 132px;
}