.rn-home {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/home.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-cloud {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/cloud.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-calendar {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/calendar.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-inbox {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/inbox.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-info {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/info.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-miruta {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/miruta.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-n {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/n.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-portfolio {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/portfolio.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-calendar2 {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/calendar2.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-clock {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/clock.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-location {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/location.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-service {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/services.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-dashboard {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/dashboard.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-team {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/team.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-noticias {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/noticias.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-toolkit {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/toolkit.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-users-setting {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/users-setting.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-pqrs {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/pqr.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-category {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/category.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-setting {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/settings.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-setting-2 {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/setting-2.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-eventos {
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/eventos.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}

.rn-photo-upload {
    height: 34px;
    width: 34px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../image/icons/photo-upload.svg');
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    vertical-align: middle;
}