.card-login {
    min-height: 100vh;
    box-shadow: none;
    /* max-width: 396px;
    margin-left: 60px; */
}

.card-body {
    padding: 0 7.5rem 2.5rem 3rem;
}

.img-login {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-login h1 {
    margin-top: 63px;
}

.card-login .text-apoyo {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0;
    margin-top: 74px;
    margin-bottom: 0.7rem;
}

.footer-login {
    position: absolute;
    bottom: 30px;
}

.alert-danger {
    color: #fff;
    background-color: #f1556c;
    border-color: #f1556c;
}

.cont-logo {
    display: block;
    width: 100%;
    padding-top: 60px;
}

.cont-logo img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
}

@media (max-width: 575.98px) {
    .btn-login {
        display: block;
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .footer-login {
        position: initial;
    }
    .card-login {
        min-height: auto;
    }
    .bg-img-login {
        background-image: none;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    .cont-logo {
        padding-top: 30px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    .cont-logo img {
        max-width: 100px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    .card-login h1 {
        margin-top: 33px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }
    .card-login .text-apoyo {
        margin-top: 40px;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {
    .card-body {
        padding: 0 1.5rem;
    }
}