body {
    background-color: #d5f1ed;
}

.card-rutan {
    max-width: 600px;
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
}

.card-rutan img.logo-rn {
    height: 58px;
}

.card-rutan .card-body {
    padding-left: 63px;
    padding-right: 63px;
}

.card-footer-rn {
    background-color: #3e3e3e;
    height: 73px;
    width: 100%;
    display: block;
    padding: 20px 25px;
}

.tatamiento-de-datos,
.tatamiento-de-datos a {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.27;
    letter-spacing: 1.5px;
}

.tratamientos-footer {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tratamientos-footer a {
    color: #3e3e3e;
}

.tratamientos-footer p,
.tratamientos-footer li a {
    font-stretch: normal;
    font-style: normal;
    color: #3e3e3e;
}

.tratamientos-footer li a {
    font-size: 15px;
}

.tratamientos-footer li a:hover,
.tatamiento-de-datos a:hover {
    color: #2db2a0;
}

.list-tratamiento {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-tratamiento li {
    display: inline-flex;
    padding: 0 10px;
}

.card-footer-rn .list-parner {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.list-parner li {
    display: inline-flex;
    padding: 0 5px;
}

.list-parner li img {
    max-height: 26px;
}

.btn-social-mail i {
    font-size: 20px;
    color: #3e3e3e;
}

.btn-social-mail {
    padding: 4px 9px;
    background-color: #2db2a0;
    margin-left: 5px;
    align-items: center;
    border-radius: 100%;
    padding-top: 8px;
}


/* a.btn-social-mail:hover {
    box-shadow: 0 0 3px 4px #2db2a0;
}

a.btn-social-mail:hover i {
    font-size: 22px;
} */

@media (max-width: 767.98px) {
    .card-rutan .card-body {
        padding-left: 13px;
        padding-right: 13px;
    }
}