.right-bar-enabled .right-bar {
    left: 0;
}

.right-bar {
    width: 100%;
    float: left!important;
    left: 0;
    transition: all .2s ease-out;
    z-index: 9999;
}

.left-side-menu {
    padding: 0;
    top: 0;
}

.enlarged .content-page {
    padding: 0 0px 5px 0px;
    min-height: 80vh;
    margin-top: 0px;
}

.enlarged .footer {
    left: 45px!important;
}

.content-app {
    /* border: 1px solid #ccc; */
    border: none;
    height: 80vh;
    background: #e9ecef;
    overflow: auto;
    border-bottom: 2px solid #ccc;
}

.content-app #secpronet-logo {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.text-bienvenida {
    max-width: 420px;
    margin: 0 auto;
    padding-top: 10%;
}

.cont-menu .option-resource a {
    display: block;
    padding: 10px 0px 10px 12px;
    min-height: 54px;
    color: #fff;
    font-size: 20px;
}

.cont-menu {
    display: block;
    padding-top: 64px;
    color: #fff;
}

.right-bar .right-bar-toggle {
    background-color: #032535;
    height: 70px;
    width: 50px;
    line-height: 27px;
    color: #fff;
    text-align: center;
    border-radius: 0%;
    margin: -27px -25px;
    padding-top: 19px;
    font-size: 20px;
}

.right-bar .right-bar-toggle:hover {
    background-color: #153c4e;
}

.enlarged .left-side-menu {
    width: 45px!important;
}

.enlarged .content-page {
    margin-left: 45px!important;
}

.logo {
    display: block;
    line-height: 70px;
}

.enlarged .logo-box {
    width: 45px!important;
}

.cont-menu .noactive a {
    color: #032535 !important;
}

.cont-menu .noactive a:hover {
    background: #e9ecef;
    border-right: 7px solid #0691d6;
    /* font-size: 22px; */
    transition: all .2s ease-out;
}

.cont-menu .active a {
    color: #032535 !important;
    background: #e9ecef;
    border-right: 7px solid #0691d6;
}

.h-95vh {
    height: 95vh !important;
    transition: all .2s ease-out;
}

.cont-menu .view a {
    background: #0691d6;
}

.btn-bar-ri {
    margin-left: -11px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
}

.nav-bordered a.active {
    border-bottom: 3px solid #0691d6!important;
}

.conversation-list .ctext-wrap:after {
    border-top-color: #ffffff;
    border-right-color: #ffffff;
}

.conversation-list .conversation-text {
    width: 80%;
}

.nav-tabs.content-details .nav-link.active {
    /* background-color: #ffffff; */
    border-color: #0691d6 #0691d6 #fff;
}

.nav-tabs.content-details {
    border-bottom: 1px solid #0691d6;
}

.box-action-profile {
    background-color: #f5f6f8;
    border-radius: 7px;
    /*  margin: 9px 11px; */
    margin: 6px 5px;
    padding: 27px 7px 1px;
    color: #6c757d;
    cursor: pointer;
    width: 117px;
    display: block;
}

.box-action-profile:hover {
    background-color: #dee2e6;
    color: #323a46;
    transition: all .2s ease-out;
}

.box-action-profile i {
    font-size: 2rem;
    margin-bottom: 9px;
    display: block;
}

.content-action-box {
    /* max-width: 418px; */
    max-width: 386px;
    margin: 0 auto;
}

.card-box-action-box {
    max-width: 490px;
    margin: 0 auto;
}

.sidebar-menu-left {
    cursor: pointer;
}

.items-inter-theme {
    display: block;
    border-left: 3px solid #6c757d;
    padding-left: 9px;
    border-bottom: 1px solid #f1f5f7;
    min-height: 40px;
    padding-top: 7px;
    background-color: #e9ecef;
    color: #343a40;
}

.items-inter-theme:hover {
    border-left: 5px solid #0691d6;
    transition: all .2s ease-out;
}

.items-inter-theme.active {
    border-left: 5px solid #0691d6;
    transition: all .2s ease-out;
    background: #0691d61c;
}

.items-inter-theme.active i.chk {
    color: #1abc9c;
    transition: all .2s ease-out;
}

.items-inter-theme i.chk {
    width: 6%;
    float: right;
    font-size: 1rem;
    color: #98a6ad;
}

.items-inter-theme i.typ {
    float: left;
    width: 7%;
    margin-top: 3px;
    /* display: block; */
    /* top: 0px; */
    /* position: fixed; */
    font-size: 1rem;
    color: #323a46;
}

.items-inter-theme.view i.chk {
    color: #1abc9c;
}

.items-inter-theme span {
    width: 86%;
    display: inline-block;
}

.content-app::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    /* display: none; */
    /* Ocultar scroll */
}


/* .content-app::-webkit-scrollbar:hover {
    display: block;
} */


/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.content-app::-webkit-scrollbar-thumb {
    background: #cccccc9e;
    border-radius: 4px;
}


/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.content-app::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); */
}


/* Cambiamos el fondo cuando esté en active */

.content-app::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.content-app::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}


/* Cambiamos el fondo cuando esté en active o hover */

.content-app::-webkit-scrollbar-track:hover,
.content-app::-webkit-scrollbar-track:active {
    background: transparent;
}


/* @media (max-width: 767.98px) {
    .content-page,
    .enlarged .content-page {
        margin-left: 0!important;
        padding: 0 10px;
    }
    .content-app {
        height: 90vh;
        transition: all .2s ease-out;
    }
    .enlarged .footer {
        left: 0px!important;
    }
}

@media (max-width: 576px) {
    .right-bar {
        width: 345px;
        transition: all .2s ease-out;
    }
} */