.owl-theme .owl-dots .owl-dot span {
    background: #f7f7f7;
    width: 20px;
    height: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2db2a0;
}

.owl-theme .owl-dots .owl-dot:hover {
    cursor: pointer;
}