@media only screen and (max-width: 992px) {
    .content-wrapp {
        padding: initial;
    }
    .form-group {
        margin-bottom: 1.3rem;
    }
    .card-list-result .bc-img {
        display: none;
    }
    .owl-carousel {
        display: block !important;
    }
    .card-events-result.active {
        box-shadow: none;
    }
    .card-events-result.active a {
        color: #343a40;
    }
    .item-events-list {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0 !important;
    }
    .card-events-result {
        min-height: 153px;
        height: auto;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        padding-bottom: 0;
    }
    .card-events-result .bc-body-event {
        min-height: 100%;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        padding-left: 10px;
    }
    .card-events-result .bc-body-event h4 {
        line-height: 0;
        margin-bottom: 0;
    }
    .card-events-result a {
        font-size: 16px !important;
    }
    .card-list-result .bc-body {
        margin-left: 0;
        padding: 10px 20px 0 20px;
        min-height: auto;
    }
    .card-list-result .bc-body h4 {
        font-size: 18px;
    }
    .card-list-result .bc-body h4 small {
        font-size: 14px;
        margin-top: -3px;
        float: initial;
        display: block;
    }
    .card-list-result .bc-body .flat-title {
        font-size: 15px;
        margin-top: -3px;
    }
    .card-list-result .bc-foot {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    h3 {
        font-size: 20px;
    }
    .text-mobile-center {
        text-align: center !important;
    }
    .mb-mobile-0 {
        margin-bottom: 0 !important;
    }
    .d-mobile-none {
        display: none;
    }
    .p-modile-0 {
        padding: 0 !important;
    }
    /* cases menu fijo inferiror */
    .navbar-rutan-mobile {
        display: block;
        transition: all .2s ease-out;
    }
    .position-lg-absolute {
        position: initial;
    }
    .navbar-rutan {
        display: none;
    }
    .dropup .dropdown-menu {
        /* margin-top: -80px;
        bottom: 100%;
        margin-bottom: 0; */
        margin-bottom: 78px;
    }
    .dropdown-lg {
        /* width: 320px !important; */
        width: 100% !important;
        min-width: 300px;
    }
    .noti-scroll {
        /* max-height: 230px; */
        height: auto !important;
    }
    .menu-options .topnav-menu .nav-link {
        min-width: auto;
        max-height: auto;
    }
    .menu-options .topnav-menu .nav-link i {
        min-width: 30px;
        min-height: 30px;
        margin-right: 0px;
    }
    .menu-options .notification-list .noti-icon {
        font-size: 34px;
    }
    .menu-options ul li {
        float: none;
        /* width: 23.9%; */
        width: 25%;
        display: inline-block;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    /* .left-menu-account .list-menu-account {
        display: none;
    } */
    .left-menu-account {
        width: 100%;
    }
    .left-menu-account .name-user {
        margin-top: 30px;
    }
    .left-menu-account .name-user h1 {
        font-size: 36px;
        /* margin-bottom: 0; */
    }
    .left-menu-account .name-user span {
        font-size: 18px;
    }
    .content-wrapp {
        padding: initial;
    }
    .content-account-rn {
        margin-left: auto;
        /* padding-top: 105px; */
        min-height: auto;
    }
    .dropdown-menu-right-ed {
        /* right: -78px !important;
        left: auto !important; */
        /* left: -130px !important; */
        left: 0px !important;
        right: 0 !important;
    }
    .content-account-rn .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .tap-rn-content {
        /* margin-right: -12px;
        margin-left: -12px; */
        padding-right: 0;
        padding-left: 0;
        margin-top: 1.5rem !important;
    }
    .tap-rn-content p {
        font-size: 15px;
    }
    .label-rn {
        text-align: left;
    }
    .result-opts {
        margin-bottom: 0 !important;
    }
    .list-result-oports {
        margin-top: 0 !important;
    }
    .switchery-rn {
        display: none;
    }
    .switchery-rn.ptb-12 {
        display: block;
    }
    .card-account h3 {
        margin-top: 0;
        line-height: 1.1;
    }
    /* opts circulares */
    .items-menu-center .title-items span {
        transition: all .4s;
        -webkit-transition: all .4s;
        transition: all .4s;
        font-size: 13px;
    }
    .items-menu-center .title-items img {
        height: 5.4rem;
        width: 5.4rem;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    /* lista de oportunidades */
    .card-list-result .bc-img {
        display: none;
    }
    .card-list-result .bc-body {
        margin-left: 0;
        padding: 10px 20px 0 20px;
        min-height: auto;
    }
    .card-list-result .bc-body h4 {
        font-size: 18px;
    }
    .card-list-result .bc-body h4 small {
        font-size: 14px;
        margin-top: -3px;
        float: initial;
        display: block;
    }
    .card-list-result .bc-body .flat-title {
        font-size: 15px;
        margin-top: -3px;
    }
    .card-list-result .bc-foot {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .card-list-result .btn-rounded {
        margin-left: 0px !important;
        margin-bottom: 20px;
    }
    .card-list-result {
        min-height: auto;
    }
    .card-list-result .bc-foot .btn-offert {
        float: none;
    }
    .card-list-result .bc-foot br {
        display: block;
    }
    .navbar-rutan-mobile .notification-list a.active i,
    .navbar-rutan-mobile .notification-list a.active img {
        border-bottom: solid 2px #fdc300;
    }
    .navbar-rutan-mobile .topnav-menu {
        margin-bottom: 0;
        display: flex;
    }
    .footer-rn {
        text-align: center;
        margin-bottom: 80px;
        padding-right: 0;
        padding-left: 0;
        z-index: -1;
    }
    .footer-rn img {
        width: 112px;
    }
    .footer-rn .text-footer-rn {
        font-size: 15px;
    }
    /* eventos */
    .owl-carousel {
        display: block !important;
    }
    .card-events-result.active {
        box-shadow: none;
    }
    .card-events-result.active a {
        color: #343a40;
    }
    .item-events-list {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0 !important;
    }
    .card-events-result {
        min-height: 153px;
        height: auto;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        padding-bottom: 0;
    }
    .card-events-result .bc-body-event {
        min-height: 100%;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        padding-left: 10px;
    }
    .card-events-result .bc-body-event h4 {
        line-height: 0;
        margin-bottom: 0;
    }
    .card-events-result a {
        font-size: 16px !important;
    }
    .right-bar .rightbar-title {
        background-color: #fff;
        padding: 20px 20px 0px;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    .list-menu-account a {
        color: #343a40;
    }
    .list-menu-account a:hover {
        color: initial;
        margin-left: none;
        background-color: transparent;
    }
    .change-pass-class {
        margin: 0 auto;
        display: block;
    }
    .my-configuration .grafica {
        float: none;
        text-align: center;
    }
    .my-configuration .img-my-ruta {
        text-align: center;
        float: none;
        margin: 0 auto;
        display: block;
        max-width: 100px;
        max-height: 100px;
    }
    .my-configuration .change-avatar {
        margin-top: 0.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .my-configuration .my-profile-rn {
        text-align: center;
    }
    /*INBOX*/
    .inbox-list {
        margin-top: auto;
    }
    .tabs-rn .nav-item a {
        margin-right: 13px;
    }
    .inbox-list .inbox-footer {
        width: 150px;
        margin-right: auto;
        margin-left: auto;
    }
    /*BIBLIOTECA*/
    .list-library {
        display: block;
    }
    .col-tp-lib {
        width: 110px;
        display: inline-block;
    }
    .col-tp-lib:first-child {
        margin-left: 0px;
    }
    .card-rectangle {
        height: 380px;
        max-width: 100%;
        width: 100%;
    }
}