:root {
    --color-brand-blue: #162340;
    --color-contrast: #de622d;
    --color-blue: #76c0ec;
    --color-gray: #14142b;
    --color-gray-80: #4e4b66;
    --color-gray-20: #a0a3bd;
    --color-gray-0: #fcfcfc;
    --color-warning: #deac2d;
    --color-danger: #de2d2d;
    --color-success: #2dde89;
    --white: #fff;
    --font-family-Brandon-Grotesque: "Brandon Grotesque", sans-serif;
    --color-rutan: #2DB2A0;
    --color-blak-gray: #3E3E3E;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque-Bold.woff2') format('woff2'), url('/fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-Brandon-Grotesque);
}

*,
body,
p,
input,
textarea,
select,
a {
    font-family: 'Source Sans Pro', sans-serif;
}

span {
    font-size: 1rem;
}

body {
    background-color: #fff;
    padding-bottom: 0px;
}

h1 {
    font-size: 48px;
    line-height: 41px;
    letter-spacing: 0.67px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
}

.text-brandon {
    font-family: var(--font-family-Brandon-Grotesque);
}

.text-primary {
    color: #2db2a0 !important;
}

.badge-primary {
    color: #2db2a0;
    background-color: #d5f1ed;
}

.text-greyish-brown {
    color: #3e3e3e !important;
}

.text-blak-gray {
    color: var(--color-blak-gray);
}

.text-dirty {
    color: #cdce0b !important;
}

.text-very-light {
    color: #cacaca !important;
}

.text-marigold {
    color: #fdc300 !important;
}

h3 {
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

textarea {
    height: 150px;
}

.form-control {
    height: 50px;
    border-radius: 5px;
    border: solid 1px #dee2e6;
    background-color: var(--white);
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #403f41;
}

.form-group {
    margin-bottom: 2.3rem;
}

.btn-primary {
    background-color: #2db2a0 !important;
    border-color: #2db2a0 !important;
    color: var(--white);
}

.line-height-1 {
    line-height: 1 !important;
}

.btn-primary:hover {
    background-color: #278a7c !important;
    border-color: #278a7c !important;
    box-shadow: none;
}

.btn-custom,
.swal2-modal .swal2-confirm {
    background-color: #d5f1ed !important;
    border-color: #d5f1ed !important;
    color: #2db2a0;
    text-transform: uppercase;
}

.btn-w-md {
    min-width: 110px !important;
}

.btn-custom:hover {
    background-color: #cbe6e2 !important;
    border-color: #cbe6e2 !important;
    box-shadow: none;
}

.btn-custom:focus {
    background-color: #cbe6e2 !important;
    border-color: #cbe6e2 !important;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: none;
}

.btn {
    border-radius: 3px;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: .65rem 0.9rem;
    min-width: 163px;
    height: 50px;
    font-family: var(--font-family-Brandon-Grotesque);
}

.btn-icon-round {
    border-radius: 100% !important;
    color: #2db2a0;
    background-color: #f7f7f7ad;
    font-size: 33px;
    display: inline !important;
    padding: .3rem 0.35rem;
    width: auto;
    min-width: auto;
    height: auto;
    margin-top: 8px;
    margin-right: 13px;
}

.btn-icon-round:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}

a {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2db2a0;
}

a:hover {
    color: #278a7c;
    text-decoration: none;
}

p {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #403f41;
}

.alert {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: .5rem 1.25rem;
    border-radius: 3px;
    overflow-wrap: break-word;
}

.select-rutan {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3e3e3e;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    padding: .65rem .65rem;
    border: none;
    width: 100%;
}

.select-rutan option:hover {
    color: #fdc300;
    background-color: transparent;
}

.dropdown-menu {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    color: #3e3e3e;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--white);
}

.select-rutan:hover,
.select-rutan:focus,
.dropdown:hover,
.dropdown:focus {
    border-color: transparent;
}

.bootstrap-select .dropdown-toggle:before {
    color: #b3b3b3;
    font-size: 32px;
    margin-top: -3px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    padding: 1rem 0.9rem;
    text-align: center;
    height: 51px;
    border-radius: 5px;
    width: 100%;
}

.label-rn {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #403f41;
}

.p-edit {
    margin: 0;
    padding: 12px 0;
}

.ptb-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}


/*Modal sweet alert*/

.swal2-popup {
    border-radius: 3px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* font-size: 2em; */
}

.swal2-popup .swal2-title {
    text-transform: uppercase;
    color: #2db2a0;
    font-size: 28px;
}

.swal2-popup .swal2-content {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 14px;
    color: #2db2a0;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border: .25em solid rgb(45, 178, 160);
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #2db2a069;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    background-color: #2db2a0;
}


/*********************************/


/*MENU*/

.full-logo {
    display: inline-block;
    float: left;
}

.navbar-rutan {
    height: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
}

.navbar-rutan-mobile {
    margin-top: 25px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    position: fixed;
    min-width: 360px;
    max-height: 75px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 0;
    bottom: 0;
    display: none;
}

.i-rn {
    font-weight: 900;
    color: #868686;
}

.list-options-user-rn a i {
    color: #2db2a0;
    font-weight: 300;
}

.menu-options ul li a {
    font-family: var(--font-family-Brandon-Grotesque);
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}

.position-lg-absolute {
    position: absolute;
}

.card-list-result .bc-foot br {
    display: none;
}

.menu-options .pro-user-name {
    color: #3e3e3e;
}

.menu-options ul li {
    float: left;
}

.menu-options .topnav-menu .nav-link {
    padding: 0 15px;
    min-width: 32px;
    display: block;
    line-height: 49px;
    text-align: center;
    max-height: 49px;
}

.profile-dropdown {
    width: 240px;
    margin-top: 7px;
}

.nav-user img {
    height: 42px;
    width: 42px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fdc300;
    background-color: transparent
}

.content-account {
    max-width: 1440px;
}

.content-wrapp {
    display: block;
    /* width: 100%; */
    /* margin-left: 100px; */
    padding-left: 80px;
    padding-right: 70px;
}

.left-menu-account {
    width: 240px;
    /* min-height: 60vh; */
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    /* background-color: azure; */
    float: left;
}

.content-account-rn {
    margin-left: 240px;
    padding-top: 24px;
    min-height: 70vh;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.left-menu-account .name-user {
    margin-bottom: 0px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.left-menu-account .name-user h1 {
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 53px; */
    letter-spacing: 1px;
    color: #403f41;
    text-transform: uppercase;
}

.list-menu-account .l2-mn {
    margin: 9px 9px 9px 0;
}

.left-menu-account .name-user span {
    font-family: var(--font-family-Brandon-Grotesque);
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 23px;
    letter-spacing: normal;
    color: #fdc300;
    text-transform: uppercase;
    display: block;
}

.list-menu-account a {
    color: #cacaca;
    display: block;
    padding: 10px 8px;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: var(--font-family-Brandon-Grotesque);
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    text-transform: uppercase;
}

.list-menu-account a:hover,
.list-menu-account a:active,
.list-menu-account a.active {
    color: #3e3e3e;
    margin-left: 5px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.list-menu-account a>span {
    vertical-align: middle;
}

.menu-options .notification-list .noti-icon {
    font-size: 28px;
}

.menu-options .notification-list .noti-icon-badge {
    top: 7px;
    right: 11px;
}

.menu-options .notification-list .noti-icon {
    color: #cacaca;
}

.menu-options .notification-list .noti-icon:active,
.menu-options .notification-list .active {
    color: #2db2a0;
}

.menu-options .notification-list .btn {
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: center;
}


/*********************************/


/*
**************************************
* HOY TENEMOS (MÉNU)
****************************************
**/

.items-menu-center {}

.items-menu-center .title-items {
    font-family: var(--font-family-Brandon-Grotesque);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #403f41;
    /* display: inline-block; */
}

.items-menu-center .title-items span {
    margin-bottom: 5px;
    display: block;
}

.items-menu-center .title-items:hover {
    color: #2db2a0;
}

.items-menu-center .title-items img:hover {
    transition: all .3s;
    background: linear-gradient(to bottom, #2db2a0, #cdce0b);
    padding: 4px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.items-menu-center .title-items.active span {
    transition: all .3s;
    -webkit-transition: all .3s;
    color: #2db2a0;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.items-menu-center .title-items.active img {
    background: linear-gradient(to bottom, #2db2a0, #cdce0b);
    padding: 4px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.items-menu-center .title-items img {
    height: 7rem;
    width: 7rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.switchery-rn label {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #403f41;
    margin-bottom: 0;
    margin-left: 6px;
    font-family: 'Source Sans Pro', sans-serif;
}


/****CARD RESULT LIST**/

.card-list-result {
    width: 100%;
    min-height: 246px;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: block;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    overflow: hidden;
}

.card-list-result .bc-img {
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.card-list-result .bc-body {
    /* display: inline-block; */
    padding: 15px 22px 5px 20px;
    /* float: left; */
    /* width: 100%; */
    position: relative;
    margin-left: 300px;
    /* height: 100%; */
    min-height: 180px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.card-list-result .bc-body h4 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #403f41;
    display: block;
    text-transform: uppercase;
}

.card-list-result .bc-body h4 small {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #868686;
    text-transform: initial;
    float: right;
}

.card-list-result .bc-body .flat-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    /* color: #2db2a0; */
    text-transform: initial;
    margin-top: -7px;
    display: block;
}

.card-list-result .bc-foot {
    display: block;
    /* width: 100%; */
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 15px; */
    position: relative;
    margin-left: 310px;
    /* margin-left: 20px; */
    margin-right: 22px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.card-list-result .bc-foot .btn-offert {
    float: right;
}

.card-list-result .btn-rounded {
    height: 25px;
    border-radius: 17px;
    background-color: #f7f7f7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #868686;
    padding: 0 .4rem;
    min-width: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 0.5rem;
}

.ml-30 {
    margin-left: 30px !important;
}

.footer-rn {
    bottom: 0;
    padding: 19px 15px 20px;
    position: relative;
    width: 100%;
    border-top: 1px solid #cacaca;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.footer-rn img {
    width: 140px;
}

.footer-rn .text-footer-rn {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #868686;
    padding: 22px 0;
}

.date-event {
    margin-top: 33px;
}

.date-event p {
    display: inline-block;
    width: 32%;
    font-size: 15px;
}

.card-events-result {
    width: 100%;
    min-height: 153px;
    height: 100%;
    border-bottom: solid 1px #ebebeb;
    display: block;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    /* padding-top: 15px; */
    padding-bottom: 30px;
}

.card-events-result .bc-img-event {
    max-width: 150px;
    width: 100%;
    max-height: 122px;
    min-height: 100%;
    height: 122px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    float: left;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.card-events-result .bc-body-event {
    position: relative;
    margin-left: 150px;
    min-height: 100%;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding-left: 10px;
}

.card-events-result .bc-body-event h4 {
    font-family: var(--font-family-Brandon-Grotesque);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.card-events-result a {
    color: #343a40;
}

.card-events-result.active a {
    color: #2db2a0;
}

.card-events-result.active {
    box-shadow: 0px 4px 8px 0px rgba(108, 117, 125, 0.16);
}

.card-events-result:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px 0px rgba(108, 117, 125, 0.16);
}


/*
*--------------------
* Mi Ruta N
*/

.my-rutan {}

.my-rutan .img-my-ruta {
    max-width: 42px;
    max-height: 42px;
    float: left;
    margin-bottom: 40px;
    margin-right: 12px;
}

.my-rutan .profile-rn {
    margin-bottom: 0;
    color: #cdce0b;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
}

.my-rutan .score-rn {
    color: #868686;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
}

.pknob {
    font-family: var(--font-family-Brandon-Grotesque) !important;
}

.item-summary {
    padding: 10px;
}

.card-sumary {
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px;
}

.card-sumary .item-number {
    font-size: 62px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 46px;
    letter-spacing: 1px;
    color: #2db2a0;
    min-width: 43px;
    height: 61px;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-left: 13px;
}

.card-sumary h3 {
    line-height: 23px;
    font-size: 20px;
}

.Line-2 {
    width: 100%;
    height: 1px;
    border: solid 1px #e7e7e7;
}

.img-service {
    height: 145px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.hel {
    max-width: 77%;
    display: inline-block;
    min-height: 78px;
}

.back-img-event {
    min-height: 344px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.back-img-event .title-event-m {
    display: block;
    position: absolute;
    margin-top: 220px;
    padding: 17px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #2DB2A0;
    background-color: #2db2a021 !important;
    border-color: #2db2a021 !important;
}

.pagination .page-item .page-link {
    font-family: var(--font-family-Brandon-Grotesque) !important;
    font-size: 16px;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.page-item:last-child .page-link {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    color: var(--color-rutan);
}

.page-item:first-child .page-link {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    color: var(--color-rutan);
}

.img-events {
    height: 216px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.divcapa {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 48% 51%, rgba(0, 0, 0, .22) 0, rgba(0, 0, 0, .47));
}

.img-events h3 {
    font-family: brandon-grotesque, Quicksand, sans-serif;
    font-size: 23px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #fff;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-right: 10px;
}

.info-container-event {
    /* display: none; */
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; */
    /* transition: opacity 1s ease-out; */
    /*  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
    padding-bottom: 2px; */
}

.info-container-event.active {
    /* visibility: visible;
    opacity: 1; */
    /* display: block!important; */
}

.info-body-event {
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .1);
    padding: 11px;
    padding-bottom: 21px;
}


/* .input-profile {
    color: #cacaca;
} */

.input-profile:focus {
    color: #403f41;
}

.my-profile-rn {
    margin-bottom: 0;
    color: #2db2a0;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    margin-bottom: 2.5rem;
}

.my-configuration .img-my-ruta {
    max-width: 88px;
    max-height: 88px;
    height: 100%;
    width: 100%;
}

.my-configuration .grafica {
    float: right;
}

.my-configuration .change-avatar {
    margin-top: 2rem;
    display: block;
}

textarea.form-control {
    height: 150px;
}

.box-select-avatar {
    display: block;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding: 20px;
    text-align: center;
}

.box-select-avatar img {
    height: 88px !important;
    float: none !important;
    margin-bottom: auto !important;
    margin-right: auto !important;
    width: auto !important;
}

.box-select-avatar.active,
.box-select-avatar:hover,
.box-select-avatar:focus,
.box-select-avatar:active {
    background-color: #d5f1ed4d;
    /*  border: 1px solid #f7f7f7; */
    box-shadow: 0 0px 4px 0px rgb(56 65 74 / 8%);
}

.box-select-avatar:hover {
    cursor: pointer;
}

.box-select-avatar:hover {
    padding: 16px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.box-select-avatar:hover img {
    height: 96px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}


/*INBOX*/

.inbox-list {
    margin-top: 2rem;
}

.tabs-rn {}

.tabs-rn .nav-item a {
    text-transform: uppercase;
    color: #cacaca;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    font-family: var(--font-family-Brandon-Grotesque);
    padding-left: 0 !important;
    padding-right: 0px !important;
    margin-right: 35px;
}

.inbox-list .nav-bordered .nav-item a.active {
    border-bottom: 2px solid #2db2a0!important;
    color: #2db2a0;
}

.inbox-list .nav-bordered {
    border-bottom: none !important;
}

.list-inbox-ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-bottom: 3rem;
}

.list-inbox-ul .item-inbox {
    display: flex;
    /* padding: 21px 8px; */
    padding: 0 8px;
    padding-right: 0;
    border-radius: 5px;
    box-shadow: 0 3px 5px 1px rgb(0 0 0 / 12%);
    min-height: 70px;
    margin-bottom: 15px;
}

.list-inbox-ul .item-inbox .title {
    padding: 25px 0px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-inbox-ul .item-inbox:hover {
    background: #f1f5f7;
}

.list-inbox-ul .item-inbox,
.list-inbox-ul .item-inbox a {
    color: #868686;
    font-size: 16px;
}

.list-inbox-ul .item-inbox.active a,
.list-inbox-ul .item-inbox.active {
    font-weight: bold;
    color: #3e3e3e;
}

.list-inbox-ul .item-inbox .subject {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 25px 0px;
    display: block;
}

.list-inbox-ul .info-inbox-date a {
    text-decoration: none;
    font-size: 24px;
    padding: 0 10px;
    display: inline-flex;
}

.list-inbox-ul .info-inbox-date {
    display: flex;
    text-align: center;
    padding: 25px 0px;
}

.list-inbox-ul .info-inbox-date .date {
    margin-right: 5px;
}

.btn-arrow-rn {
    border-radius: 100%;
    border: none;
    background-color: #fff;
    box-shadow: 0 3px 5px 1px rgb(0 0 0 / 12%);
    padding: 8px 15px;
    color: #2db2a0;
    width: auto;
    height: auto;
    min-width: auto;
    min-height: auto;
    margin: auto 5px;
}

.btn-arrow-rn:hover,
.btn-arrow-rn:active,
.btn-arrow-rn:focus {
    background-color: #f1f5f7;
}

.inbox-list .inbox-footer {
    width: 100%;
    display: flex;
    margin-top: 3rem;
}

.inbox-list .inbox-footer a {
    color: #3e3e3e;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

.inbox-list .inbox-footer a:hover {
    font-weight: 900;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.inbox-list .inbox-footer a:hover i {
    font-size: 33px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.inbox-list .inbox-footer i {
    display: block;
    font-size: 30px;
    margin-bottom: .2rem;
}

.list-library {
    display: flex;
}

.box-document {
    background-color: #fff;
    width: 59px;
    height: 59px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 15px 12px 12px 12px;
    margin: 0 auto;
    /* cursor: pointer; */
}

.box-document .md-paper {
    width: 31.5px;
    height: 27px;
    object-fit: contain;
}

.box-document i {
    color: #2db2a0;
    font-size: 2rem;
}

.box-document .md-paper>.cls-1,
.box-document .md-paper>path {
    fill: #2db2a0;
}

.col-tp-lib {
    /* margin-right: 60px; */
    width: 116px;
}

.col-tp-lib:first-child {
    margin-left: -25px;
}

.col-tp-lib p {
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
}

.box-document.active,
.box-document:hover {
    background-color: #2db2a0;
}

.box-document.active i,
.box-document:hover i {
    color: #d5f1ed;
}

.box-document.active .md-paper>.cls-1,
.box-document.active .md-paper>path,
.box-document:hover .md-paper>.cls-1,
.box-document:hover .md-paper>path {
    fill: #d5f1ed;
}

.list-category li {
    text-decoration: none;
    display: inline-flex;
    margin-right: 21px;
}

.list-category li a {
    color: #3e3e3e;
}

.list-category li a:hover,
.list-category li.active a {
    color: #2db2a0;
    font-weight: bold;
    border-bottom: 2px solid #2db2a0;
    padding: 2px 4px;
}

.card-rectangle {
    height: 353px;
    object-fit: cover;
    border-radius: 5px;
    max-width: 273px;
    width: 100%;
}

.card-rectangle img {
    object-fit: cover;
    object-position: top left;
    height: 100%;
    z-index: -1;
}

.card-rectangle .card-img-overlay {
    /* padding-top: 55%; */
    /* padding-top: 165px; */
    top: auto;
}

.card-rectangle h4 {
    font-size: 20px;
}

.card-rectangle .card-subtitle {
    color: #fdc300;
    font-size: 15px;
    text-transform: capitalize;
}

.card-rectangle .card-footer-date {
    color: #cacaca;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 40px;
}

.card-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.bg-img-register {
    background-image: url('/image/fondo2.jpg')
}

.bg-img-login {
    background-image: url('/image/fondo1.jpg')
}

.card-loading {
    height: 100%;
    min-height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #2db2a0;
}

.card-loading i {
    font-size: 5rem;
}

.min-h-auto {
    min-height: auto !important;
}

.card-label {
    width: 100%;
    min-height: auto;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 20%);
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 28px;
}

.card-label .icon-label {
    min-width: 53px;
    min-height: 53px;
    width: 53px;
    height: 53px;
    background: #74E1D3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 15px;
}

.card-label .icon-label i {
    margin: 0;
    padding: 0;
}

.card-label .title-label {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.title-label small {
    font-weight: normal;
    line-height: 24px;
}

.card-label .desct-label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.btn-more-vertial {
    height: 100%;
    display: flex;
    min-width: 35px;
    min-height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.btn-more-vertial i {
    font-size: 22px;
    color: var(--color-blak-gray);
}

.btn-text {
    font-family: var(--font-family-Brandon-Grotesque);
    border-radius: 0px;
    color: var(--color-blak-gray);
    padding: 5px 20px;
    font-weight: 400;
    font-size: 14px;
    border-color: transparent;
    text-align: center;
    line-height: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    border: none;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
}

.btn-text i {
    margin: 0 5px;
    font-size: 20px;
    color: var(--color-rutan);
}

.btn-text-alt {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
}

.btn-text-alt i {
    margin: 0 5px;
    font-size: 19px;
    color: var(--color-rutan);
    background-color: #B8FBF2;
    border-radius: 100%;
    padding: .4rem;
}

.btn-text-alt:hover i {
    background-color: var(--color-rutan);
    color: #B8FBF2;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.modal-header {
    position: relative;
    width: 100%;
}

.modal-header .close {
    padding: .5rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 34px;
    color: var(--color-rutan);
    font-weight: 700;
    line-height: 1;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.alert-dismissible .btn-close {
    padding: 0.6rem;
}

.dropdown-alt {
    display: flex;
    position: absolute;
    top: 0px;
    right: 40px;
    align-items: center;
}

.dropdown-alt-dashboard {
    display: block;
    position: absolute;
    top: 60px;
    right: 130px;
    width: 260px;
    background: #2DB2A0;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: var(--font-family-Brandon-Grotesque);
    padding-top: 13px;
    padding-bottom: 13px;
}

.dropdown-alt-dashboard .dropdown-item {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: var(--font-family-Brandon-Grotesque);
}

.dropdown-alt-dashboard .dropdown-item:hover,
.dropdown-alt-dashboard .dropdown-item:focus,
.dropdown-alt-dashboard .dropdown-item:active {
    color: #8CECDF;
    text-decoration: none;
}

.secound-options-dashboard {
    position: absolute;
    top: 0;
    left: 98%;
    background-color: #51CCBB;
    min-height: 186px;
    width: 210px;
}

.secound-options-dashboard ul li {
    list-style: none;
    margin-top: 11px;
}

.secound-options-dashboard ul li a {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: var(--font-family-Brandon-Grotesque);
}

.w-mx-270 {
    max-width: 275px !important;
}

.w-mn-300 {
    min-width: 300px !important;
    width: 300 !important;
    max-width: 300 !important;
}

.list-sections-fixer {
    display: flex;
}

.btn-icon {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.btn-icon i {
    font-size: 23px;
    color: var(--color-rutan);
}

.card-activitic-news {
    height: 150px;
    border-bottom: 6px solid #fdc300;
}

.activity-data-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* color: #fdc300; */
}

.activity-data-date {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #979797;
}

.activity-data-number {
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family-Brandon-Grotesque);
    color: #CDCE0B;
}

.activity-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.text-dashboard {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-transform: uppercase;
}

.oportunity-hover button {
    display: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.oportunity-hover:hover button {
    display: inline-flex;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.oportunity-hover:hover .activity-data-number {
    color: #F6F6B4;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.icon-label img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.component-upload {
    width: 120px;
    height: 120px;
    border: 2px dashed #dee2e6;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.component-upload:hover {
    cursor: pointer;
}

.object-fit-cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}

.dropify-wrapper {
    color: #6A6A6A;
    background-color: #EDEDED;
    border: 2px solid #EDEDED;
}

.dropify-wrapper .dropify-message span.file-icon {
    color: #6A6A6A;
}

.badge-opportinity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    border-radius: 100px;
    padding: 7px 8px 7px 13px;
    color: #6A6A6A;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 8px;
    margin-right: 8px;
}

.badge-opportinity button {
    border: none;
    text-align: center;
    padding: 0 2px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}

.form-check.form-check-rutan .form-check-input:checked {
    background-color: var(--color-rutan)!important;
    border-color: var(--color-rutan)!important;
}

.form-check-input {
    width: 22px;
    height: 22px;
    margin-top: 0;
    margin-right: 5px;
}

textarea.form-control-h-270 {
    height: 270px;
}

textarea.form-control-benefit {
    height: 80px;
    padding-left: 45px;
}

.check-benefit {
    color: #FDC300;
    font-size: 20px;
    height: 28px;
    width: 28px;
    background-color: #FFEDB2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
    top: 7px;
    left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closed-benefit {
    color: #fff;
    font-size: 20px;
    height: 28px;
    width: 28px;
    background-color: var(--color-danger);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
    top: -9px;
    right: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hover-disabled {
    cursor: not-allowed !important;
}

.swal2-styled.swal2-cancel:hover {
    background: none !important;
}

.swal2-styled.swal2-cancel {
    font-family: var(--font-family-Brandon-Grotesque);
    border-radius: 0px;
    color: var(--color-blak-gray);
    padding: 5px 20px;
    font-weight: 400;
    font-size: 14px;
    border-color: transparent;
    text-align: center;
    line-height: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    border: none;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
}

.jq-toast-single {
    font-weight: 400;
    font-size: 1.1rem;
    font-stretch: normal;
    font-style: normal;
    /* font-family: var(--font-family-Brandon-Grotesque); */
    font-family: 'Source Sans Pro', sans-serif;
}

.check-function {
    color: #2DB2A0;
    font-size: 17px;
    line-height: 18px;
    height: 28px;
    width: 28px;
    background-color: #B8FBF2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
    top: 7px;
    left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-img-services {
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
}

.upload-img-services figure {
    width: 98px;
    height: 98px;
    min-width: 98px;
    min-height: 98px;
    background-color: #fff;
    margin: 0;
    margin-right: 12px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    overflow: hidden;
}

.upload-img-services figure img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.upload-img-services figure .placeholder-image-default {
    width: 100%;
    height: 100%;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-img-services figure .placeholder-image-default i {
    color: #979797;
    font-size: 2.5rem;
}

.upload-img-services span {
    color: #6A6A6A;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
}

.a-file-attach {
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px;
}

.file-attach {
    width: 100%;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    background-color: #d5f1ed;
    padding: 8px;
}

.file-attach i {
    color: #2DB2A0;
    font-size: 2.6rem;
}

.a-file-attach small {
    word-break: break-word!important;
    overflow-wrap: break-word!important;
}

.listopportunities button {
    border: none;
    text-align: center;
    /* padding: 6px; */
    vertical-align: middle;
    cursor: pointer;
    font-size: 28px;
    margin-left: 0;
    position: absolute;
    background-color: transparent;
    /* #d5f1ed; */
    right: 0;
    bottom: 0px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.op-landing {
    border-bottom: 6px solid #51CCBB;
}

.op-standar {
    border-bottom: 6px solid #fdc300;
}

.op-multioffer {
    border-bottom: 6px solid #CDCE0B;
}

.op-events {
    border-bottom: 6px solid #F16F4C;
}

.op-news {
    border-bottom: 6px solid #FFD64E;
}

.op-hiren {
    color: #2DB2A0;
}

.text-landing {
    color: #51CCBB;
}

.text-standar {
    color: #fdc300;
}

.text-multioffer {
    color: #CDCE0B;
}

.text-hiren {
    color: #2DB2A0;
}

.text-events {
    color: #F16F4C;
}

.text-news {
    color: #FFD64E;
}

.text-right {
    text-align: right !important;
}

.p-05 {
    padding: 0.2rem !important;
}

.btn-more-vertial-2 {
    height: auto;
    display: flex;
    min-width: 35px;
    align-items: center;
    justify-content: flex-end;
}

.btn-more-vertial-2 i {
    color: #3E3E3E;
}

.table-users tr td {
    font-size: 1rem;
    color: #3E3E3E;
}

.selectize-h-auto .selectize-input {
    height: auto
}

.text-pknob {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-configuration .text-pknob a {
    display: none;
}